html {
  font-size: 62.5%;
  font-family: arial;
}

body {
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2.2rem;
  margin: 0 0 20px 0;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Courier New", Courier, monospace;
}


#real-time {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 150px;
}

#real-time #dot {
  position: absolute;
  bottom: 0;
  right: 0;
}

#real-time #vu-meter {
  position: absolute;
  top: 0px;
  left: 0px;
}

#offline {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 150px;
  margin-left: 20px;
}

#offline #record {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#offline #signal {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 150px;
}
