html {
  font-size: 62.5%;
  font-family: arial;
}

body {
  margin: 0;
  font-size: 2rem;
  padding: 20px;
  font-family: monospace;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

canvas {
  margin: 50px auto 0;
  outline: 1px solid #adadad;
}
